**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/azds.yaml
**/bin
**/charts
**/Dockerfile
**/Dockerfile.develop
**/obj
**/secrets.dev.yaml
**/values.dev.yaml